main > hr {
  margin: 64px 0;
  width: 400px;
}

main > header#about-header {
  font-size: 72px;
  font-weight: 600;
}

main > header#faq-header {
  margin-bottom: 0;
}

main section {
  font-size: 20px;
  margin-bottom: 24px;
}

main section#asterisk-text {
  font-size: 12px;
}

main section.faq-item {
  margin-bottom: 48px;
}

main section .question {
  font-weight: 500;
  margin-bottom: 16px;
}

main section .answer {
  max-width: 600px;
}

main section .answer .icons .icon-info {
  display: flex;
  margin-right: 64px;
}

main section .answer .icons .icon-info:last-child {
  margin-right: 0;
}

main section .answer .icons .icon-info i {
  margin-right: 8px;
}