@media only screen and (min-width: 928px) {
  nav > ul#nav-right > li:first-child {
    margin-right: 0;
  }

  nav > ul > li {
    display: list-item;
  }

  nav > ul > li#menu-dropdown-btn {
    display: none;
  }

  main {
    width: 832px;
  }
}