.author {
  color: #9e9e9e;
  margin-bottom: 48px;
}

.page-header.book-title {
  line-height: 40px;
  margin: 0;
}

.book-container {
  display: flex;
  margin-bottom: 16px;
}

.book-container header.subheader {
  color: black;
  font-size: 24px;
}

.book-container > .book {
  margin-right: 32px;
  max-width: 144px;
  position: relative;
}

.book-container > .book > img {
  max-width: inherit;
}

.book-container > .book > .status-icon {
  font-size: 2.5rem;
  position: absolute;
  right: 5%;
  top: 5%;
}

.book-container > .book > .input-field {
  margin: 32px 0;
}

.book-container > .book-history > .history > ul {
  list-style-type: circle;
  margin-left: 16px;
 }

.book-container > .book-history > .history > ul > li {
  list-style-type: inherit;
}

.book-container > .book-history > .notes {
  max-width: 500px;
}

.book-container > .book-history > .notes > .note {
  margin-bottom: 64px;
}

.book-container > .book-history > .notes > .note > p {
  margin-bottom: 0;
}

.book-container > .book-history > .notes > .note > .date {
  color: #9e9e9e;
}

#search-form {
  /*display: none;*/
}

#results {
  display: none;
}

#results > #new-search {
  margin-bottom: 48px;
}

#results > ul#books > li.book {
  border-bottom: 2px solid #8A53A6;;
  display: flex;
  margin-top: 48px;
  min-height: 160px;
  padding-bottom: 48px;
}

#results > ul#books > li.book:first-child {
  margin-top: 0;
}

#results > ul#books > li.book:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#results > ul#books > li.book > img {
  max-height: 160px;
}

#results > ul#books > li.book > *:not(.modal) {
  margin-right: 32px;
}

#results > ul#books > li.book > *:last-child:not(.modal) {
  margin-right: 0;
}

#results > ul#books > li.book > .book-info {
  display: flex;
  flex-wrap: wrap;
}

#results > ul#books > li.book > .book-info > * {
  width: 100%;
}

#results > ul#books > li.book > .book-info > .author {
  margin-bottom: 8px;
}

#results > ul#books > li.book > .book-info > .book-subtitle {
  color: #9e9e9e;
}

#results > ul#books > li.book > .book-info > .action-btns {
  align-self: flex-end;
}

#results > ul#books > li.book > .book-info > .action-btns > * {
  margin-right: 48px;
}

#results > ul#books > li.book > .book-info > .action-btns > *:last-child {
  margin-right: 0;
}

#spinner {
  display: none;
  justify-content: center;
  margin: 200px 0;
}