@media only screen and (min-width: 928px) {
  /*nav #add-book-container {*/
    /*display: block;*/
    /*margin-left: auto;*/
  /*}*/

  /*nav #add-book-container #add-book {*/
    /*margin: 0;*/
  /*}*/

  nav > ul > li {
    display: list-item;
  }

  nav > ul > li#menu-dropdown-btn {
    display: none;
  }

  main {
    width: 832px;
  }
}