.books-grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
}

.books-grid > .book {
  max-height: 184px;
  overflow: hidden;
  position: relative;
}

.books-grid > .book > img {
  height: auto;
  max-width: 100%;
}

.books-grid > .book > .status-icon {
  top: 5%;
  position: absolute;
  right: 5%;
}

.books-grid > .stats {

}

.stats > section {
  margin-bottom: 32px;
}

.stats > section:last-child {
  margin-bottom: 0;
}

.stats header {
  border-bottom: 1px solid black;
  color: black;
  font-size: 28px;
  margin-bottom: 32px;
}

.stats header.subheader {
  border-bottom: none;
  font-size: 20px;
  margin-bottom: 16px;
}

.stats .progress {
  background-color: #e0f2f1;
  height: 16px;
  margin: 0;
}

.stats .progress > .determinate {
  width: 17%;
}

.stats .pages-read {
  margin-bottom: 16px;
}

.stats .pages-read > .number {
  font-size: 18px;
  font-weight: 500;
}

.stats .icon-info {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.stats .icon-info > i.status-icon {
  margin-right: 16px;
}